.header {
    background-color: #CE2829;
    padding: 25px;
    text-align: center;
    border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}


@media (max-width: 767px) {
    .header {
        padding: 15px;
        border-radius: 0;
        text-align: center;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .header {
        padding: 20px;
        border-radius: 0;
        text-align: center;
    }
}