header {
    background-color: white;
    color: black;
    padding: 10px;
    display: flex;
    justify-content: center;


}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}


nav ul li {
    display: flex;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    padding-right: 25px;
}


.menu-main {
    background-color: #FAF7F2;
    margin: 0 0;
    padding-bottom: 50px;
}

.featured {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 50px;
    padding-left: 400px;


}


.special-offer-first {
    flex: 2;
    position: relative;
    height: 300px;
    max-width: 375px;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.special-offer-first:hover {
    transform: scale(1.05);

}

.special-offer-first img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.special-offer-first h2,
.special-offer-first p,
.special-offer-first button {
    position: absolute;
    color: white;

}


.special-offer-first h2 {
    top: 0;
    left: 20px;
    font-size: 38px;
    max-width: 10px;
}

.special-offer-first p {
    top: 100;
    left: 20px;
    font-size: 13px;
}

.special-offer-first button {
    bottom: 90px;
    left: 6%;
    background-color: white;
    color: #f44336;
    border: none;
    padding: 10px 20px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 20px;
}



.special-offer-second {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;

}

.hackathon-menu {
    transition: transform 0.3s ease-in-out;

}

.hackathon-menu:hover {
    transform: scale(1.05);

}

.fast-delivery {
    transition: transform 0.3s ease-in-out;

}

.fast-delivery:hover {
    transform: scale(1.05);
}

.hackathon-menu,
.fast-delivery {
    position: relative;
    height: 145px;
    width: 350px;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}


.hackathon-menu img,
.fast-delivery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.hackathon-menu p,
.fast-delivery p,
.hackathon-menu button,
.fast-delivery button {
    position: absolute;
    color: white;
}

.hackathon-menu p {
    font-size: 20px;
    font-weight: 600%;
    max-width: 140px;
    left: 10px;
    top: 0;

}

.fast-delivery p {
    font-size: 20px;
    font-weight: 600;
    max-width: 160px;
    left: 10px;
    top: 0;
    color: black
}

.fast-delivery p span {
    color: #CE2829;

}

.hackathon-menu button,
.fast-delivery button {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: #333;
    border: none;
    padding: 8px 16px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 8px;
}



.popular-menus {
    text-align: center;
    padding-top: 35px;
    line-height: 13px;

}

.popular-menus-text p {
    font-family: "Satisfy", cursive;
    color: #CE2829;
    font-size: 25px;
}

.popular-menus h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
}

.header-menu-second nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 10px;
}

.header-menu-second nav ul li {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    background-color: white;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 700;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
}

.header-menu-second nav ul li:hover {
    background-color: #333;
    color: white;
}

.header-menu-second nav ul li img {
    width: 20px;
    margin-right: 8px;
}

.menu-items {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.menu-item {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}

.menu-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}

.menu-item h3 {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.menu-item-priceinfo {
    display: flex;
    justify-content: space-between;

}

.menu-item-priceinfo p {
    font-size: 13.5px;
    color: #555;
    font-weight: 700;
    padding-left: 30px;

}

.menu-item-priceinfo-price p {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.menu-item {
    transition: transform 0.3s ease-in-out;

}

.menu-item:hover {
    transform: scale(1.05);
}