.nav-list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    gap: 10px;
    padding-right: 290px;


}


.nav-list a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    transition: color 0.1s ease;


}

.nav-list a:hover {
    color: #CE2829;
    font-weight: bold;

}

.header-row {
    background-color: #FAF7F2;
    padding: 10px;
    padding-right: 0;
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.header-row h2 {
    color: black;
    font-weight: 500;
    padding-right: 170px;

}



.price {
    color: black;
    font-weight: bold;
    font-size: 27px;
    display: flex;
    width: 100%;
    margin: 20px auto;
    width: 80%;
    max-width: 550px;
    padding-left: 50px;

}

.price-like {
    display: flex;
    gap: 65px;
    color: #999;
    font-size: 15px;
    padding-left: 300px;
    padding-top: 17px;


}

.description {
    width: 80%;
    max-width: 550px;
    height: 120px;
    padding: 10px;
    padding-left: 90px;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}



.pizza-form {
    background-color: white;

    width: 0;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 10px;

}

.selection-row {
    display: flex;

}

.pizza-form h4 {
    margin-bottom: 10px;
    text-align: left;
    font-size: 1.2rem;
    color: black;
    font-weight: 500;
}

h4::after {
    content: '*';
    color: red;
    margin-left: 5px;
}

.pizza-form p {
    text-align: left;
    margin-top: auto;
}

.pizza-form label {
    margin-bottom: 7px;
}

.pizza-form .options-column {
    display: flex;
    flex-direction: column;
    gap: 7px;
    color: #5F5F5F;
    font-weight: 400;
}

.pizza-form .options-column label {
    display: flex;
    align-items: center;

}

.pizza-form .options-column input[type="radio"] {
    margin-right: 25px;
}

.pizza-form select {
    padding: 10px;
    width: 100%;
    margin-top: 5px;
    border: 1px solid#f9f9f9;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #FAF7F2;

}

.option-number {
    color: #5F5F5F;
    font-weight: 400;
}

.note-row {
    padding: 10px 0;
}

.pizza-form textarea,
.pizza-form input[type="number"] {
    padding: 15px;
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
    border: 1px solid #FAF7F2;
    background-color: #FAF7F2;
    border-radius: 8px;
    resize: none;
    box-sizing: border-box;

}

.pizza-form textarea::placeholder {
    color: #5F5F5F;
}

.toppings-grid {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    text-align: left;
    gap: 10px;
    padding-top: 35px;
    color: #5F5F5F;
    font-weight: 700;
}


.pizza-form .order {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 20px;
}

.pizza-form .quantity-control {
    display: flex;
    align-items: center;
    margin-top: 0;

}

.pizza-form .quantity-control button {
    background-color: #FDC913;
    border: none;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
    font-size: 18px;
    width: 50px;
    height: 50px;
    transition: background-color 0.3s ease;
}

.pizza-form .quantity-control span {
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #FAF7F2;
    background-color: #FAF7F2;
    padding: 11px 15px;
    border-radius: 5px;
}

.pizza-form .order-summary {
    padding-top: 15px;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.pizza-form .order-summary-info {
    border: 1px solid rgb(215, 213, 213);
    border-radius: 6px;
    padding: 30px;
    background-color: #FAF7F2;
}

.pizza-form .order-total {
    font-weight: bold;
    font-size: 1.2rem;
    color: #292929;
    margin-left: 55px;
}

.pizza-form .user-selection,
.pizza-form .user-amount {
    display: flex;
    justify-content: space-between;

}

.pizza-form .user-selection {
    color: #5F5F5F;
    font-weight: 600;
    gap: 10px;
}

.pizza-form .user-amount {
    color: #CE2829;
    font-weight: 600;
    gap: 10px;
}

.pizza-form .order-button {
    background-color: #FDC913;
    color: black;
    border: 1px solid #FDC913;
    cursor: pointer;
    font-size: 16px;
    border-radius: 7px;
    padding: 8px 0;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.error {
    color: #D32F2F;
    font-size: 12px;
    margin-top: 10px;
    font-weight: bold;
    max-width: 100%;
    word-wrap: break-word;
}

hr {
    border: none;
    border-top: 2px solid rgb(211, 209, 209);
    margin: 20px 0;
}

label {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}