.nav-list a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    transition: color 0.1s ease;
}

.nav-list a:hover {
    color: #CE2829;
    font-weight: bold;
}

.header-row,
.pizza-form {
    max-width: 100%;
    overflow-x: hidden;
}


.header-row {
    padding: 10px;
    width: 100%;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
}

.header-row h2 {
    color: black;
    font-weight: 500;
    padding-right: 225px;
    margin: 10px 0;
}

.price {
    color: black;
    font-weight: bold;
    font-size: 27px;
    display: flex;
    width: 100%;
    margin: 0 0;
    padding-left: 50px;
}

.price-like {
    display: flex;
    gap: 65px;
    color: #999;
    font-size: 15px;
    padding-left: 300px;
    padding-top: 17px;
}

.description {
    width: 80%;
    max-width: 550px;
    height: 120px;
    padding: 10px;
    padding-left: 50px;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}


.pizza-form {
    background-color: white;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 50px;
    max-width: 100%;
}

.selection-row {
    display: flex;
}

.pizza-form h4 {
    margin-bottom: 10px;
    text-align: left;
    font-size: 1.2rem;
    color: black;
    font-weight: 500;
}

h4::after {
    content: '*';
    color: red;
    margin-left: 5px;
}

.pizza-form p {
    text-align: left;
    margin-top: auto;
}

.pizza-form label {
    margin-bottom: 7px;
}


.pizza-form .options-column {
    display: flex;
    flex-direction: center;
    gap: 3px;
    color: #5F5F5F;
    font-weight: 400;
    align-items: center;
}

.pizza-form .options-column label {
    display: flex;
    align-items: center;
}


.size-option input[type="radio"] {
    display: none;
}

.size-option span {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: #FAF7F2;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.size-option input[type="radio"]:checked+span {
    background-color: #FDC913;
    color: black;
}


.pizza-form select {
    padding: 15px;
    width: 100%;
    margin-top: 5px;
    border: 1px solid #FAF7F2;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #FAF7F2;
}


.toppings-section {
    text-align: left;
}

.option-number {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    font-weight: 600;
    left: 10px;
}

.toppings-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.toppings-section .error {
    margin-top: 25px;
}


.topping-option {
    display: block;
    position: relative;
    padding-top: 15px;
    padding-left: 55px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.topping-option input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 48px;
    width: 48px;
    background-color: #FAF7F2;
    border-radius: 10px;
}

.topping-option:hover input~.checkmark {
    background-color: #FAF7F2;
}

.topping-option input:checked~.checkmark {
    background-color: #FDC913;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.topping-option input:checked~.checkmark:after {
    display: block;
    content: "✔";
    position: absolute;
    top: 5px;
    left: 12px;
    font-size: 25px;
    color: black;
}

.topping-option.checkmark:after {
    left: 15px;
    top: 15px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.note-row {
    padding: 25px 0;
}

.pizza-form textarea,
.pizza-form input[type="number"] {
    padding: 15px;
    width: 95%;
    margin-top: 10px;
    border: 1px solid #FAF7F2;
    background-color: #FAF7F2;
    border-radius: 8px;
    resize: none;
}

.pizza-form textarea::placeholder {
    color: #5F5F5F;
}

.pizza-form .order {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 20px;
}

.pizza-form .quantity-control {
    display: flex;
    align-items: center;
    margin-top: -175px;
}

.pizza-form .quantity-control button {
    background-color: #FDC913;
    border: none;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
    font-size: 18px;
    width: 50px;
    height: 50px;
    transition: background-color 0.3s ease;
}

.pizza-form .quantity-control span {
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #FAF7F2;
    background-color: #FAF7F2;
    padding: 11px 15px;
    border-radius: 5px;
}

.pizza-form .order-summary {
    padding-top: 15px;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.pizza-form .order-summary-info {
    border: 1px solid rgb(215, 213, 213);
    border-radius: 6px;
    padding: 30px;
    background-color: #FAF7F2;
}

.pizza-form .order-total {
    font-weight: bold;
    font-size: 1.2rem;
    color: #292929;
    margin-left: 50px;
}

.pizza-form .user-selection,
.pizza-form .user-amount {
    display: flex;
    justify-content: space-around;
}

.pizza-form .user-selection {
    color: #5F5F5F;
    font-weight: 600;
    gap: 10px;
}

.pizza-form .user-amount {
    color: #CE2829;
    font-weight: 600;
    gap: 10px;
}

.pizza-form .order-button {
    background-color: #FDC913;
    color: black;
    border: 1px solid #FDC913;
    cursor: pointer;
    font-size: 16px;
    border-radius: 7px;
    padding: 8px 0;
    transition: background-color 0.3s ease;
    width: 380px;
    text-align: center;
}

.error {
    color: #D32F2F;
    font-size: 12px;
    padding-top: 10px;
    font-weight: bold;
    max-width: 100%;
    word-wrap: break-word;
}

hr {
    border: none;
    border-top: 2px solid rgb(211, 209, 209);
    margin: 20px 0;
    max-width: 700px;
}

label {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}


@media (max-width: 768px) {
    .header-row h2 {
        padding-right: 0;
        font-size: 1.5rem;
    }

    .price {
        font-size: 1.5rem;
        padding-left: 10px;
    }

    .price-like {
        padding-left: 10px;
        gap: 15px;
        font-size: 1rem;
    }

    .description {
        width: 90%;
        padding-left: 10px;
        font-size: 1rem;
    }

    .pizza-form {
        padding-left: 0;
    }

    .pizza-form .quantity-control {
        margin-top: 0;
    }

    .pizza-form .order-button {
        width: 90%;
    }

    .pizza-form .order-summary-info {
        padding: 15px;
    }

    .pizza-form .order-total {
        margin-left: 10px;
    }

    .toppings-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {


    .header-row {
        width: 100%;


    }

    .pizza-form {
        width: 100%;

    }

    .description {
        height: max-content;

    }

    .header-row img {
        width: 90%;
    }

    .nav-list li {
        width: max-content
    }

    .header-row h2 {
        font-size: 1.2rem;
        margin-right: 85px;
        width: max-content;
    }

    .price {
        font-size: 1.2rem;
        width: max-content;
    }

    .price-like {
        font-size: 0.8rem;
        gap: 15px;
        width: max-content;
    }

    .pizza-form h4 {
        font-size: 1rem;
        width: max-content;
    }

    .selection-row {
        width: 100%;
        margin-left: 15px;

    }

    .selection-row .options-column {
        width: 40px;
    }

    .selection-row .select-row {
        width: max-content;
        margin-right: 40px;
    }

    .toppings-section {
        width: 100%;
        margin-left: 15px;

    }





    .note-row {
        max-width: 85%;
        padding-left: 15px;
    }


    .order {
        width: 100%;
        padding-left: 15px;
    }

    .quantity-control {
        width: 125px;
    }

    .order-summary-info {
        width: 75%;
    }

    .pizza-form .order-button {
        font-size: 0.9rem;
        padding: 5px 1px;


    }
}